/* You can add global styles to this file, and also import other style files */
body{
    padding: 0 !important;
    margin: 0 !important;
  }
@font-face {
    font-family: lato;
    src:url(./assets/Lato-Regular.ttf)
}